#content {
  margin-top: 2%;
}

.spinner-small {
  width: 16px;
  height: 16px;
}
.spinner-info {
  display: inline-block;
  background-image: url('../images/spinner_info.gif');
  background-size: 100%;
}

.jm_btn-roster {
  width: 100%;
  margin-bottom: 16px;
  text-align: left;
}

.jm_login_loading {
  text-align: center;
}

.jm_roster_result_number {
  font-size: 1.5em;
  margin-right: 8px;
}

.jm_roster_result_number {
  font-size: 1.15em;
  font-weight: 900;
}
